body{
    margin: 0%;
    background: url(./17f440_no_logo_no_text.jpg) repeat-x 100% fixed,
    radial-gradient(gold, goldenrod) fixed;
    background-size: 100%;  
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
    font-size: 150%;
}
aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 1%;
    background-color: aquamarine;
    border-radius: 16px;
    border: double;
}
.choose{
    font-size: 80%;
    padding: 1%;
    border-radius: 16px;
}
.price-list{
    width: 100%;
    border-radius: 16px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 1%;
    height: 50%;
    font-size: 150%;
    border: double;
    border-radius: 16px;
    background-color: blue;
}
.calc{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    font-size: 100%;
}
.price-label{
    display: flex;
    flex-direction: column;
}
.price-for-one{
    display: flex;
    flex-direction: column;
}
.radios{
    display: flex;
    font-size: 75%;
    flex-direction: column;
    text-align: left;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 75%;
}
#result{
    font-size: 100%;
}
.output-button{
    justify-content: flex-end;
    font-size: 100%;
}
#commit-button{
    padding: 1%;
}
input{
    font-size: 55%;
    padding: 1%;
    margin: 0%;
    border: groove;
    border-radius: 8px;
}
button{
    font-size: 55%;
    padding: 1%;
    margin: 0%;
    border: groove;
    border-radius: 16px;
}